.content {
    width: 100%;
    padding: 20px 0 15px 0;
    display: flex;
    justify-content: center;
}

.searchInput {
    width: 90%;
    position: relative;
}

.searchInput i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 18px;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    border: 2px rgba(255, 255, 255, 0.462) solid;
    padding-left: 40px; 
    outline: none;
    background-color: #031013;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}