.inputGroup {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    /* Jarak antara avatar dan textarea */
    border-bottom: rgba(255, 255, 255, 0.462) solid;
    padding: 15px 30px 15px 30px;
}

.avatar {
    flex-shrink: 0;
    /* Mencegah avatar berubah ukuran */
}

.avatar img {
    width: 70px;
    border-radius: 50%;
}

.textareaContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textareaContainer textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    align-items: center;
    background-color: transparent;
    font-size: 1.3rem;
    overflow: hidden;
    resize: none;
}

.textareaContainer textarea:focus {
    outline: none;
    border: none;
}

.submitButton,
.imageButton {
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    background: #031013;
    border-radius: 50%;
    cursor: pointer;
}