@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #031013;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #031013;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
