.content {
    width: 90%;
    padding: 20px 0 15px 0;
    justify-content: center;
    border-bottom: solid rgba(255, 255, 255, 0.462);
}

.profileInfo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profileInfo img {
    width: 60px;
    border-radius: 40px;
}

.userInfo {
    display: flex;
    gap: 10px;
}

.userInfo h1 {
    font-weight: 700;
}

.userInfo p {
    color: rgba(255, 255, 255, 0.448);
}